In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Todos.xlsx")

In [3]:
df_conteudos = df.groupby([1,2])[0].sum().reset_index().merge(df.groupby([1,2])["Área"].apply(lambda x:list(x)).reset_index(),how = "left",on = [1,2])

In [4]:
df_conteudos.sort_values(0,ascending = False)

,1,2,0,Área
1401,Scrum Foundation Professional Certificate,CertiProf,9,"[Tecnologia, Produto]"
872,Inteligência Emocional,Escola Conquer,9,"[Produto, Comercial, Customer Success, Recurso..."
1382,SQL Fundamentals,SoloLearn,8,"[Tecnologia, Produto, Comercial]"
1309,Python 3,SoloLearn,7,"[Tecnologia, Produto]"
1603,WordPress para Iniciantes,Udemy,6,[Tecnologia]
...,...,...,...,...
579,Especialização em Marketing,Esab,1,[Customer Success]
578,Especialista em Vendas Online,Marketing Com Digital,1,[Marketing]
577,Especialista em User Onboarding,Conpass,1,[Customer Success]
576,Especialista em Sales Development Representative,Universidade Previsível,1,[Comercial]
1624,Ética pra quê?,Slash Education,1,[Marketing]

In [5]:
df_conteudos.to_excel("Planilha de Cursos.xlsx")

In [6]:
df_conteudos.groupby([2])[1].count().sort_values(ascending = False)[0:30]

2
LinkedIn                               135
Udemy                                   85
Google                                  68
Alura Cursos Online                     55
Coursera                                53
Rock Content                            38
Microsoft                               35
IBM                                     32
Descola Cursos Inovadores               24
Resultados Digitais                     17
Rock University                         14
FIAP                                    14
Scrum Alliance                          14
Impacta Tecnologia                      11
Coursera Verified Certificates          11
Senac São Paulo                         10
Amazon Web Services (AWS)               10
Alura                                   10
TreinaWeb                               10
RD University                           10
Mergo User Experience                   10
Salesforce                              10
Scrum.org                                9
HubSpot Academy                          9
Data Science Academy                     9
HubSpot                                  8
Product Arena                            8
Caroli.org                               8
Goobec Brasil                            7
Interaction Design Foundation (IDF)      7
Name: 1, dtype: int64